/* body,a, h1 to h6, header, and footer */

body {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    background-color: #ebdc0c;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer {
    clear: both;
    position: relative;
    left: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

/* homepage */

#game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-zone {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/back-drop.jpg');
    border-radius:10px;
}

#hero-img {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#master-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.5);
    width: 80%;
}

#master-text {
    text-align: center;
}

.control-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.nav-buttons:hover {
    background-color: #a0db16;
}

/* game play*/

#score-keeper{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.score {
    float: left;
    padding: 0 10px;
}

#play-zone {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 342.156px;
    background-color: #eff14e;
    background-image: url('../images/back-drop.jpg');
    border-radius:10px;
}

#play-zone > img {
    width: 133px;
    position: relative;
    top: 10px;
}

#points-indicator {
    background-color: rgba(255,255,255, 0.5);
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#play-controls {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.play-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.play-buttons:hover {
    background-color: #a0db16;
}

.play-buttons:disabled:hover {
    background-color: #fff;
}

/*rules page */


#rules-page {
    width:70%;
    min-height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/back-drop-big.jpg');
     border-radius:10px;

}

#master-rules-img {
    float: left;
    position:relative;
    top: 10px;
}

#rules-text {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.5);
    border-radius:50px;
    }

#rules-text > p{
    text-align:center;
    margin-left: 10px;
    margin-right:10px;

}

#rule-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*social media links */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0;
    padding: 2%;
    color: #000;
}