/* body,a, h1 to h6, header, and footer */

body {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    background-color: #ebdc0c;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer {
    clear: both;
    position: relative;
    left: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    display:none;
}

/* homepage */

#game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-zone {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/back-drop.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    border-radius:10px;
}

#hero-img {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#master-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.5);
    width: 80%;
    border-radius: 20px
}

#master-text {
    text-align: center;
}

.control-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.nav-buttons:hover {
    background-color: #a0db16;
}

/* game play*/

#score-keeper{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.score {
    float: left;
    padding: 0 10px;
}

#play-zone {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 342.156px;
    background-color: #eff14e;
    background-image: url('../images/back-drop.jpg');
     background-repeat:no-repeat;
    background-size: cover;
    border-radius:10px;
}

#play-zone > img {
    width: 133px;
    position: relative;
    top: 10px;
}

#points-indicator {
    background-color: rgba(255,255,255, 0.5);
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     border-radius:5px;
}


#play-controls {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.play-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.play-buttons:hover {
    background-color: #a0db16;
}

.play-buttons:disabled:hover {
    background-color: #fff;
}

#winner-pop-up {
    background-color: rgba(255,255,255, 0.5);
    width: 70%;
    border-radius:20px;
    position: fixed;
    z-index: 1;
    right: 200px;
    top: 300px;
}

#popup-img {
    float: left;
}

#popup-text{
    padding-left: 10px;
}

#popup-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*rules page */


#rules-page {
    width:70%;
    min-height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/back-drop-big.jpg');
     background-repeat:no-repeat;
    background-size: cover;
     border-radius:10px;

}

#master-rules-img {
    float: left;
    position:relative;
    top: 10px;
}

#rules-text {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255, 0.5);
    border-radius:50px;
    }

#rules-text > p{
    text-align:center;
    margin-left: 10px;
    margin-right:10px;

}

#rule-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*about page */
#about-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-text >p {
    text-align:center;
}


/*social media links */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0;
    padding: 2%;
    color: #000;
}

/*medium screen for mobiles and tabs 950px wide and down */
@media screen and (max-width: 425px) {
/*home page */
#game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}


#home-zone {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/back-drop.jpg');
    border-radius:10px;
}

#hero-img {
   width:50%;
   
}

#master-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    right: 25px
}

#welcome-text {
    background-color: rgba(255,255,255, 0.5);
    width: 90%;
}

.nav-buttons {
    font-size: 80%;
    width: 70px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
}

/*Rule page */
#rules-page {
    width:100%;
    }

    #master-rules-img {
        left: 50px;
}

#rules-text {
    width: 100%;
    clear:both;
    border-radius:20px;
    }

/*home page */
    #score-keeper{
    width: 100%;
    text-align:center;
}
.total-score {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#play-zone {
    width: 100%;
    min-height: 174px;
    border-radius:10px;
}

#play-zone > img {
    width: 20%;
    position: relative;
    top: 10px;
}

#points-indicator {
    width: 50%;
}


#play-controls {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.play-buttons {
    font-size: 80%;
    width: 70px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
}
}

/* media for tablets*/
@media screen and (max-width: 768px) {
    #play-zone {
    width: 80%;
    min-height: 345px;
    border-radius:10px;
}

#home-zone {
    width: 80%;
}

#welcome-text {
    border-radius: 10px
}

#rules-page {
    width:80%;
}

#rules-text {
    width: 80%;
    border-radius:20px;
    }
}
