/* body,a, h1 to h6, header, and footer */

body {
    font-family: Roboto, sans-serif;
    font-size: 120%;
    background-color: #fbff00;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer {
    clear: both;
    position: relative;
    left: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

/* homepage */

#game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hero-img {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#master-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#master-text {
    text-align: center;
}

.control-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.nav-buttons:hover {
    background-color: #a0db16;
}

/* game play*/

#score-keeper{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#player-score {
    float: left;
}

#cpu-score {
    float: right;
}

#play-zone {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    background-color: #eff14e;
}

#play-zone > img {
    width: 8%;
}


#play-controls {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.play-buttons {
    font-size: 130%;
    width: 100px;
    height: 75px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: #fff;
}

.play-buttons:hover {
    background-color: #a0db16;
}

/*social media links */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0;
    padding: 2%;
    color: #000;
}